<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Банкрот-эксперт</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi"/>
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c3770d0828.js" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <header class="header__group">
            <div class="container">
                <div class="header__inner">
                    <div class="logo">
                        <a class="logo_link" href="../" data-scroll="#main">Банкрот-эксперт</a>
                    </div>
                    <nav class="nav">
                        <a class="link" href="/need">Нужно ли банкротиться?</a>
                        <a class="link" href="/judicial_bankruptcy">Судебное банкротство</a>                          
                        <a class="link" href="/out-of-court_bankruptcy">Внесудебное банкротство</a>
                    </nav>
                    <div class="autorization__home">
                        {% if 'loggedin' in session %}
                        <a class="link_auto" href="/profile">Профиль</a>
                        <form action="/logout" method="post">    
                            <input class="link_auto" type="submit" value="Выйти">
                        </form>
                        {% else %}
                        <a class="link_auto" href="/sign-in">Войти</a>
                        {% endif %} 
                    </div>
                </div>
            </div>
        </header>
        <section class="section">
        <main class="main" style="margin-top: 40px;">
            <div class="container">
                <table class="admin-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email пользователя</th>
                            <th>Админ</th>
                            <th>Дата регистрации</th> <!-- Новый столбец -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            {% if (request.args.get('filter') == 'admin' and item.isAdmin) or 
                                  (request.args.get('filter') == 'user' and not item.isAdmin) or 
                                  (request.args.get('filter') == 'all') or 
                                  (request.args.get('filter') is none) %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.username }}</td>
                                <td>{{ "Да" if item.isAdmin else "Нет" }}</td>
                                <td>{{ item.registration_date if item.registration_date else 'N/A' }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination">
                    {% if pagination.has_prev %}
                        <a href="{{ url_for('admin', page=pagination.prev_num) }}" class="pagination__prev">&laquo; Предыдущая</a>
                    {% endif %}
                    
                    {% for page in range(1, pagination.pages + 1) %}
                        {% if page %}
                            {% if page == pagination.page %}
                                <a href="{{ url_for('admin', page=page) }}" class="pagination__item active">{{ page }}</a>
                            {% else %}
                                <a href="{{ url_for('admin', page=page) }}" class="pagination__item">{{ page }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    
                    {% if pagination.has_next %}
                        <a href="{{ url_for('admin', page=pagination.next_num) }}" class="pagination__next">Следующая &raquo;</a>
                    {% endif %}
                </div>
                
                <div class="filter-section">
                    <h3>ФИЛЬТРАЦИЯ</h3>
                    <div class="filter-button">
                        <form action="{{ url_for('admin') }}" method="get">
                        <label class="custom-file-upload">    
                            <select name="filter">
                                <option value="all" {% if request.args.get('filter') == 'all' or request.args.get('filter') is none %}selected{% endif %}>Показать всех</option>
                                <option value="admin" {% if request.args.get('filter') == 'admin' %}selected{% endif %}>Показать администраторов</option>
                                <option value="user" {% if request.args.get('filter') == 'user' %}selected{% endif %}>Показать обычных пользователей</option>
                            </select>
                            <select name="sort">
                                <option value="asc" {% if request.args.get('sort') == 'asc' %}selected{% endif %}>Сначала старые</option>
                                <option value="desc" {% if request.args.get('sort') == 'desc' %}selected{% endif %}>Сначала новые</option>
                            </select>
                        </label>
                            <button type="submit" style="margin-top: 3px; font-size: 13px; padding: 5px; color: #fff; background-color: rgb(124, 108, 108); cursor: pointer; border: none; border-radius: 5px;">Показать</button>
                        </form>
                    </div>
                </div>
                <br>
                <div class="upload-section">
                    <h3>ПОДГРУЗКА ФАЙЛОВ</h3>
                    <div class="upload-file">
                        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                            <label class="custom-file-upload">
                                <input type="file" name="file" accept=".csv, .xlsx, .txt" style="display: inline-block;">
                            </label>
                            <button type="submit" style="display: inline-block; margin-left: 10px; font-size: 13px; padding: 5px; color: #fff; background-color: rgb(124, 108, 108); cursor: pointer; border: none; border-radius: 5px;">Загрузить файл</button>
                        </form>
                    </div>
                </div>
                <br>
                <div class="load-section">
                    <h3>ЗАГРУЗКА ФАЙЛОВ</h3>
                    <div class="file-list">
                        <button id="load-files" style="display: inline-block; margin-left: 10px; font-size: 13px; padding: 5px; color: #fff; background-color: rgb(124, 108, 108); cursor: pointer; border: none; border-radius: 5px;">Загрузить файлы</button>
                        <ul id="file-list">
                            <!-- Список файлов будет загружен сюда -->
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        </section>

        <!-- Новый блок с результатами опросника-->
        <section class="section" style="margin: 40px 0;">
            <div class="container">
                <h2>Оценка работы сервиса</h2>
                <div class="feedback-metrics">
                    <p><strong>Понятны ли вопросы пользователю?</strong></p>
                    <p>Средняя оценка: {{ average_rating|round(2) if average_rating is not none else "Нет данных" }}</p>
                    
                    {% if suitable_stats %}
                    <p><strong>Пользователи, которым банкротство подходит ответили:</strong></p>
                    <p>1 Пользователям понятен порядок подачи заявления:
                        Да: {{ suitable_stats.q2_yes|round(1) }}% 
                        Нет: {{ suitable_stats.q2_no|round(1) }}%
                    </p>
                    <p>2 Удовлетворяет ли пользователя полученный результат:
                        Да: {{ suitable_stats.q3_yes|round(1) }}% 
                        Нет: {{ suitable_stats.q3_no|round(1) }}%
                    </p>
                    {% endif %}
                    
                    {% if not_suitable_stats %}
                    <p><strong>Пользователи, которым банкротство не подходит ответили:</strong></p>
                    <p>1 Удовлетворяет ли пользователя полученный результат:
                        Да: {{ not_suitable_stats.q3_yes|round(1) }}% 
                        Нет: {{ not_suitable_stats.q3_no|round(1) }}%
                    </p>
                    {% endif %}
                </div>
            </div>
        </section>
        <!-- Новый блок с результатами опросника-->

        <footer class="small__section" id="contacts">
            <div class="container">
                <div class="small__inner">
                    <div class="small__text">                     
                        <a class="logo_link" href="../" data-scroll="#main"><h2>Банкрот-эксперт</h2></a>
                    </div>
                </div>
                <div class="small__text__form">Вся информация на сайте носит справочный характер и актуальна на 16.04.2025</div>
            </div>
        </footer> <!--MAKED-->
                
                
                <script>
                document.getElementById('load-files').addEventListener('click', function() {
                    fetch('{{ url_for("get_files") }}')
                        .then(response => response.json())
                        .then(files => {
                            const fileList = document.getElementById('file-list');
                            fileList.innerHTML = ''; // Очистить текущий список
                            files.forEach(file => {
                                const li = document.createElement('li');
                                const a = document.createElement('a');
                                a.href = '{{ url_for("download_file", filename="") }}' + file;
                                a.textContent = file;
                                li.appendChild(a);
                                fileList.appendChild(li);
                            });
                        })
                        .catch(error => console.error('Error loading files:', error));
                });
                </script>
            
    </body>
</html>