<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Банкрот-эксперт</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c3770d0828.js" crossorigin="anonymous"></script>
    </head>
    <body>


        <header class="header__group">
            <div class="container">
                <div class="header__inner">
                    <div class="logo">
                      <a class="logo_link" href="../" data-scroll="#main">Банкрот-эксперт</a>
                    </div>
                      <nav class="nav">
                              <a class="link" href="/need">Нужно ли банкротиться?</a>
                              <a class="link" href="/judicial_bankruptcy">Судебное банкротство</a>
                              <a class="link" href="/out-of-court_bankruptcy">Внесудебное банкротство</a>
                      </nav>
                    <div>
                      {% if 'loggedin' in session %}
                          <a class="link_auto" href="/profile">Профиль</a>
                          <form action="/logout" method="post">
                              <input class="link_auto" type="submit" value="Выйти">
                          </form>
                          {% else %}
                          <a class="link_auto" href="/sign-in">Войти</a>
                      {% endif %}
                    </div>
                </div>
            </div>
        </header>

        <section class="section__bankruptcy">
            <div class="container__section">
                <div class="section__header">
                    <h2 class="section__title">Что такое судебное банкротство?</h2>
                </div>
                <div class="card__group">
                    <div>
                        <b>Судебное банкротство</b> – это способ избавиться от долгов путем обращения в суд. Подача заявления о признании гражданина банкротом в суд может быть как правом, так и обязанностью.
                        <p>Если Ваша задолженность составляет менее 500 тыс. руб., у Вас нет оснований для внесудебного банкротства и Вы предвидите, что не сможете дальше выплачивать долги, то Вы <b>вправе</b> подать в суд для признания Вас банкротом <a href="https://www.consultant.ru/document/cons_doc_LAW_39331/e3c4626012c2307fb67dad8ebe12c8b41573e713/?ysclid=lumgbervtq430982254" target="_blank">(ст. 213.3 ФЗ «О банкротстве»)</a>.</p>
                        <p>Если Ваша задолженность составляет более 500 тыс. руб., Вы не можете выплатить все долги и просрочка выплат составляет 3 месяца, то Вы <b>обязаны</b> подать в суд для признания Вас банкротом <a href="https://www.consultant.ru/document/cons_doc_LAW_39331/c2c8c81ee8e4bd843286b08b10607f00ec6ae073/" target="_blank">(ст. 213.4 ФЗ «О банкротстве»)</a>. </p>
                        <p><b>Важно!</b> Когда Вы узнали (или должны были узнать), что не можете заплатить всем кредиторам, у Вас есть 30 рабочих дней, чтобы подать заявление в суд. Если не успеете, то Вам придётся заплатить штраф от 1000 до 3000 рублей <a href="https://www.consultant.ru/document/cons_doc_LAW_34661/cd9e7b3faed04ce5a1863ac280a28ee438df0280/?ysclid=lumgc5uz43992784803" target="_blank">(п. 5 ст. 14.13 КоАП РФ)</a>.</p>
                        <p><b>Чтобы определить наличие оснований для прохождения процедуры судебного банкротства, пройдите <a href="/form">анкету</a>.</b></p>
                        <p>
                            <b>Важно! Какие долги нельзя списать по банкротству?</b>
                            </br><a href="https://www.consultant.ru/document/cons_doc_LAW_39331/?ysclid=lumghhk0u0610036126" target="_blank">ФЗ «О банкротстве»</a> определяет перечень задолженностей, не подлежащих списанию. В их число входят:
                            <ul>
                                <li>возмещение вреда здоровью и морального вреда;</li>
                                <li>алиментные платежи и долг по алиментам;</li>
                                <li>зарплата и выплаты по ТК (это актуально, когда оформляется банкротство ИП, у которого есть долг перед работниками);</li>
                                <li>штрафы за преступления, совершённые намеренно или по грубой неосторожности;</li>
                                <li>текущие долги (появившиеся при проведении банкротства — например, по ЖКХ за период процедуры).</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section__bankruptcy">
            <div class="container__section">
                <div class="section__header">
                    <h2 class="section__title">Порядок подачи заявления</h2>
                </div>
                <div class="card__group">
                    <div>
                        <p>Заявление о признании гражданина банкротом в судебном порядке подается в арбитражный суд субъекта РФ по месту Вашей регистрации через канцелярию суда или онлайн через систему <b><a href="https://my.arbitr.ru/" target="_blank">"Мой Арбитр"</a></b>.
                        </p>
                        <p>Чтобы подать заявление онлайн, необходимо: 
                            <ul>
                                <li>Авторизоваться через Госуслуги;</li>
                                <li>В разделе "Банкротство" выбрать заявление о признании физического лица банкротом;</li>
                                <li>Заполнить все поля по Вашим личным данным, а также поля о сумме задолженностей;</li>
                                <li>Выбрать суд субъекта, в котором Вы зарегистрированы (область, республика, край и т.д.);</li>
                                <li>Прикрепить подписанное заявление и другие документы.</li>
                            </ul>
                            С формой заявления и документами, которые необходимо приложить, можно ознакомиться <a href="/sample_declaration_court" target="_blank">здесь</a>.
                        </p>
                        <b>Заявление должно содержать: </b>
                        <ul>
                            <li>сумму требований кредиторов;</li>
                            <li>размер задолженности;</li>
                            <li>сведения об имеющемся у должника имуществе;</li>
                            <li>обоснование невозможности удовлетворения требований кредиторов;</li>
                            <li>наименование и адрес саморегулируемой организации, из числа членов которой должен быть утвержден финансовый управляющий.</li>
                        </ul>	
                        <p><b>Важно! </b>Если в заявлении не будут указаны эти данные, суд оставит его без рассмотрения.</p>
                        <p><b>Финансовый управляющий</b> – профессионал, участие которого обязательно в судебном банкротстве. Он управляет имуществом должника, следит, чтобы не были нарушены права ни должника, ни кредиторов. Финансовый управляющий состоит в саморегулируемой организации – объединении субъектов профессиональной деятельности в конкретной сфере.</p>
                        <p><b>Важно!</b> При реализации процедуры судебного банкротства у Вас должно быть достаточно средств для покрытия следующих расходов: государственная пошлина 300 рублей, почтовые расходы, вознаграждение финансового управляющего (которое составляет от 25 тыс. руб.), публикации сведений в ЕФРСБ.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section__bankruptcy">
            <div class="container__section">
                <div class="section__header">
                    <h2 class="section__title">Рассмотрение заявления судом</h2>
                </div>
                <div class="card__group">
                    <div>
                        <p>Срок рассмотрения – <b>не менее 15 дней</b> и <b>не более 3 месяцев</b> с даты его принятия.</p>
                        <p>Если заявление обоснованное, суд выносит определение и на задолженность не начисляются штрафы и пени, проценты, снимаются аресты на имущество и т.д. <a href="https://www.consultant.ru/document/cons_doc_LAW_39331/072ca45111e19f445e32353b80e66fb6c6d545ce/?ysclid=lumghwjgrf974178646" target="_blank">(ст. 213.11 ФЗ «О банкротстве»)</a>.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section__bankruptcy">
            <div class="container__section">
                <div class="section__header">
                    <h2 class="section__title">Ход процедуры банкротства</h2>
                </div>
                <div class="card__group">
                    <div>
                        <div>
                            <p>Существует очередность удовлетворения требований кредиторов. Например, при наличии обязательств по уплате алиментов, выплате вознаграждения финансовому управляющему, судебных расходов по процедуре банкротства, возмещения морального вреда и т.д. выплачиваются в первую очередь.</p>
                            <p>В банкротстве могут происходить следующие процессы в зависимости от каждой ситуации:
                                <ul>
                                    <li>
                                        <p><b>Мировое соглашение с кредиторами</b> – по сути сделка, которая заключается между должником и кредиторами, включающая условия того, как должник будет рассчитываться с кредиторами. Сама процедура банкротства прекращается.
                                            <p><b>Важно! </b>Если должник нарушает условия соглашения, то возобновляется процедура банкротства, лицо объявляется банкротом, и его имущество реализовывают.</p>
                                        </p>
                                    </li>
                                    <li>
                                        <p><b>Реструктуризация долга</b> – меняется порядок исполнения обязательств, т.е. можно растянуть срок выплат, уменьшить ежемесячный размер платежей.
                                            <br>Финансовый управляющий с кредиторами утверждает план реструктуризации долгов, а суд его одобряет.
                                            <p>В каком случае суд одобряет план реструктуризации?
                                                <ul>
                                                    <li>У Вас есть постоянный доход;</li>
                                                    <li>Нет неснятой или непогашенной судимости за экономические преступления;</li>
                                                    <li>В последние 5 лет вы не проходили процедуру банкротства и в течение 8 лет не реструктуризировали долги.</li>
                                                </ul>
                                            </p>
                                        </p>
                                    </li>
                                    <li>
                                        <p><b>Реализация имущества</b> – применяется при признании судом лица банкротом (когда у человека слишком небольшой доход, чтобы выплатить все задолженности на иных условиях).
                                            <br>Всё имущество составляет конкурсную массу, которая распределяется между кредиторами. Под реализацию также может попасть имущество, нажитое в браке.
                                            <p><b>Важно!</b>     Не все имущество можно реализовать, например, единственное жилье или другое имущество, без которого ваше существование невозможно под реализацию не попадает. </p></p>
                                    </li>
                                </ul> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section__bankruptcy">
            <div class="container__section">
                <div class="section__header">
                    <h2 class="section__title">Завершение судебной процедуры банкротства</h2>
                </div>
                <div class="card__group">
                    <div>
                        <p>После завершения реализации имущества финансовый управляющий предоставляет в арбитражный суд отчет о результатах, а арбитражный суд выносит определение о завершении реализации имущества. Процедура банкротства завершается. С этого момента гражданин, признанный банкротом, освобождается от исполнения требований кредиторов.
                        </p>
                    </div>
                </div>    
            </div><!--/.card-->
        </section>

        <section class="section__bankruptcy">
            <div class="container__section">
        
                <div class="section__header">
                    <h2 class="section__title">Повторная подача заявления</h2>
                </div>
                <div class="card__group">
                    <div>
                        Гражданин вправе повторно подать заявление о признании его банкротом в судебной порядке <b>не ранее, чем по истечении 5 лет</b> после дня прекращения процедуры судебного банкротства <a href="https://www.consultant.ru/document/cons_doc_LAW_39331/15bac90772e695baab0ffa86106dfd11c02e7802/?ysclid=lumgdmhijg320967760" target="_blank">(ст. 213.30 ФЗ «О банкротстве»)</a>.
                    </div>
                </div>
            </div><!--/.card-->
        </section>

        <footer class="small__section" id="contacts">
            <div class="container">
                <div class="small__inner">
                    <div class="small__text">                
                        <a class="logo_link" href="#" data-scroll="#main"><h2>Банкрот-эксперт</h2></a>
                    </div>
                </div>
                <div class="small__text__form">Вся информация на сайте носит справочный характер и актуальна на 16.04.2024</div>
            </div>
        </footer> <!--MAKED-->


    </body>
</html>