<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Банкрот-эксперт</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c3770d0828.js" crossorigin="anonymous"></script>
    </head>
    <body>


        <header class="header__group">
            <div class="container">
                <div class="header__inner">
                    <div class="logo">
                      <a class="logo_link" href="../" data-scroll="#main">Банкрот-эксперт</a>
                    </div>
                      <nav class="nav">
                              <a class="link" href="/need">Нужно ли банкротиться?</a>
                              <a class="link" href="/judicial_bankruptcy">Судебное банкротство</a>
                              <a class="link" href="/out-of-court_bankruptcy">Внесудебное банкротство</a>
                      </nav>
                    <div>
                      {% if 'loggedin' in session %}
                          <a class="link_auto" href="/profile">Профиль</a>
                          <form action="/logout" method="post">
                              <input class="link_auto" type="submit" value="Выйти">
                          </form>
                          {% else %}
                          <a class="link_auto" href="/sign-in">Войти</a>
                      {% endif %}
                    </div>
                </div>
            </div>
        </header>

        <section class="section__bankruptcy">
            <div class="container__section">
                <div class="section__header">
                    <br>
                    <h3 class="section__title"><a name="plusk">Плюсы</a></h3>
                </div>
                <div class="card__group">
                    <ul>
                        <li>Не нужно больше самостоятельно платить по кредитам. Платежи будет совершать, финансовый управляющий, удерживая из ваших доходов денежные средства;</li>
                        <li>Прекращается начисление любых пеней, штрафов, процентов. Сумма долга фиксируется;</li>
                        <li>Останавливаются исполнительные производства. Аресты с имущества, счетов и кошельков снимаются;</li>
                        <li>Приставы не вправе приходить описывать ваше имущество, они обязаны снять ограничение на пользование водительскими правами, отменить запрет на выезд за рубеж. При этом суд может ограничить выезд если сочтет это необходимым;</li>
                        <li>Прекращаются звонки и визиты коллекторов, служб взыскания банков и МФО. Любые их вопросы решаются в суде либо переадресовываются вашему финансовому управляющему.</li>
                    </ul>
                </div><!--/.card-->
        </section>
        <section class="section__bankruptcy">
            <div class="container__section">
                <div class="section__header">
                    <h3 class="section__title"><a name="minus">Минусы</a></h3>
                </div>
                <div class="card__group">
                    <ul>
                        <li>Пока идет процедура, Вы теряете право управлять своими финансами: как наличными средствами, так и счетами в банках. Это будет делать финансовый управляющий;</li>
                        <li>На стадии банкротства Вам нельзя будет открывать вклады — ни карты с процентом на остаток, ни депозиты, ни монометаллические;</li>
                        <li>Вы будете обязаны передать все банковские карты, пароли от личных кабинетов онлайн-банков и электронных счетов финансовому управляющему;</li>
                        <li>Вам придется выделить деньги на оплату процедуры и связанные с ней расходы (госпошлина, платные сообщения в ЕФРСБ и др.);</li>
                        <li>Под реализацию может попасть имущество, нажитое супругами  в браке.</li>
                    </ul>
                </div><!--/.card-->
        </section>
        <section class="section__bankruptcy">
            <div class="container__section">
                <div class="section__header">
                    <h3 class="section__title"><a name="conseq">Последствия</a></h3>
                </div>
                <div class="card__group">
                    <div>Какие негативные последствия ждут Вас после окончания процедуры банкротства?
                    <ul>
                        <li><b>В течение 5 лет</b> Вы будете обязаны указывать о своем банкротстве при попытке оформить займ или кредит в любой финансовой организации. Запись о Вашем банкротстве в любом случае навсегда останется в кредитной истории. Банки крайне неохотно будут выдавать вам кредиты в будущем;</li>
                        <li>Также <b>в течение 5 лет вы не сможете снова открыть процедуру банкротства</b>.  Кредиторы будут более активно взыскивать с вас долг, прождать этот срок в ожидании новой возможности не получится;</li>
                        <li>Если вы являетесь <b>ИП</b>, то при банкротстве вы потеряете регистрацию и лицензии на осуществление отдельных видов предпринимательской деятельности. Вы не сможете заниматься предпринимательской деятельностью в таком статусе, пока не пройдет <b>5 лет</b> с момента окончания производства, в таком качестве Вас просто не зарегистрируют. Это распространяется и на тех лиц, кто потерял такой статус не позднее года до момента подачи заявления на банкротство. Обычных граждан такое ограничение не касается;</li>
                        <li>
                            Со статусом банкрота <b>Вы не сможете занимать занимать должности в органах управления юридического лица</b> или иным образом участвовать в его управлении в течение следующих периодов:
                            <ul>
                                <li>10 лет - в отношении кредитной организации;</li>
                                <li>5 лет - в отношении страховой организации, НПФ, управляющей компании инвестиционного фонда, паевого инвестиционного фонда и НПФ или микрофинансовой компании;</li>
                                <li>3 года - в отношении иных организаций.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                </div><!--/.card-->
        </section>

        <footer class="small__section" id="contacts">
            <div class="container">
                <div class="small__inner">
                    <div class="small__text">     
                        <a class="logo_link" href="#" data-scroll="#main"><h2>Банкрот-эксперт</h2></a>
                    </div>
                </div>
                <div class="small__text__form">Вся информация на сайте носит справочный характер и актуальна на 16.04.2025</div>
            </div>
        </footer> <!--MAKED-->
    </body>
</html>