<!--Сообщаем браузеру как стоит обрабатывать эту страницу-->
<!DOCTYPE html>
<!--Оболочка документа с тэгом html, где указываем язык содержимого-->
<html lang="ru">
    <!--Заголовок страницы, контейнер для других важных данных(не отображается)-->
    <head>
        <!--Заголовок страницы в браузере-->
        <title>Банкрот-эксперт</title>
        <!--Кодировка страницы-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
        <!--Привязка css-->
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c3770d0828.js" crossorigin="anonymous"></script>
    </head>
    <!--Отображаемое тело страницы-->
    <body>


        <header class="header__group">
            <div class="container">
                <div class="header__inner">
                    <div class="logo">
                      <a class="logo_link" href="../" data-scroll="#main">Банкрот-эксперт</a>
                    </div>
                      <nav class="nav">
                              <a class="link" href="/need">Нужно ли банкротиться?</a>
                              <a class="link" href="/judicial_bankruptcy">Судебное банкротство</a>
                              <a class="link" href="/out-of-court_bankruptcy">Внесудебное банкротство</a>
                      </nav>
                    <div>
                      {% if 'loggedin' in session %}
                          <a class="link_auto" href="/profile">Профиль</a>
                          <form action="/logout" method="post">
                              <input class="link_auto" type="submit" value="Выйти">
                          </form>
                          {% else %}
                          <a class="link_auto" href="/sign-in">Войти</a>
                      {% endif %}
                    </div>
                </div>
            </div>
        </header>

        <section class="section__bankruptcy">
            <div class="container__section">
        
                <div class="section__header">
                    <h2 class="section__title">Что такое внесудебное банкротство?</h2>
                </div>
                <div class="card__group">
                    <div><b>Внесудебное банкротство</b> – это возможность избавиться от долгов перед кредиторами без обращения в суд. Важно понимать, что реализация данного вида банкротства является именно правом гражданина, а не обязанностью! Главным плюсом этой процедуры, в отличие от банкротства в суде, является её бесплатность.
                    </div>
                </div>
                <div class="card__group">
                    <div>Гражданин, общий размер денежных обязательств которого составляет <b>не менее 25 тыс. руб. и не более 1 млн. руб.</b>, имеет право обратиться с заявлением о признании его банкротом во внесудебном порядке – <a href="https://www.consultant.ru/document/cons_doc_LAW_39331/c48290d39215783e73f0899bb1026b14cb221eff/?ysclid=lumfza8c7i838151652" target="_blank">ст.223.2 ФЗ «О банкротстве»</a>. </div>    
                </div>
                <div class="card__group">
                    <div><b>Важно помнить, что для реализации данной возможности, у гражданина должно быть хотя бы одно из следующих оснований <a href="https://www.consultant.ru/document/cons_doc_LAW_39331/c48290d39215783e73f0899bb1026b14cb221eff/?ysclid=lumfza8c7i838151652" target="_blank">(п.1 ст.223.2 ФЗ «О банкротстве»)</a>: </b>
                    <ul>
                        <li>На момент подачи заявления о признании лица банкротом во внесудебном порядке в отношении данного гражданина должно быть окончено исполнительное производство в связи с возвращением исполнительного документа взыскателю, а также в отношении гражданина не должно иметься иных неоконченных или непрекращенных исполнительных производств по взысканию денежных средств, возбужденных после возвращения исполнительного документа взыскателю;</li>
                        <li>В отношении лица, подающего заявление, соблюдаются одновременно следующие условия:
                            <ul>
                                <li>основной доход гражданина составляет страховая пенсия, пенсия по государственному пенсионному обеспечению, накопительная пенсия или срочная пенсионная выплата;</li>
                                <li>выданный не позднее чем за один год до даты обращения исполнительный документ имущественного характера был направлен для исполнения, и данные требования не были исполнены или были исполнены частично;</li>
                                <li>у гражданина на дату подачи заявления отсутствует имущество, на которое может быть обращено взыскание, за исключением предусмотренных выше доходов в виде пенсионных выплат;</li>
                            </ul>
                        </li>
                        <li>В отношении лица, подающего заявление, соблюдаются одновременно следующие условия:
                            <ul>
                                <li>гражданин является получателем ежемесячного пособия в связи с рождением и воспитанием ребенка;</li>
                                <li>выданный не позднее чем за один год до даты обращения исполнительный документ имущественного характера был направлен для исполнения, и данные требования не исполнены или исполнены частично;</li>
                                <li>у гражданина на дату подачи заявления отсутствует имущество, на которое может быть обращено взыскание;</li>
                            </ul>
                        </li>
                        <li>Выданный не позднее чем за семь лет до даты обращения исполнительный документ имущественного характера предъявлялся был направлен для исполнения, и данные требования не исполнены или исполнены частично.</li>
                    </ul>
                    <p><b>Чтобы определить у себя наличие таких оснований, пройдите <a href="/form">анкету</a>.</b></p>
                </div>
                </div>
            <div class="card__group">
                <div>
                <b>Важно! Какие долги нельзя списать по банкротству?</b>
                </br><a href="https://www.consultant.ru/document/cons_doc_LAW_39331/" target="_blank">ФЗ «О банкротстве»</a> определяет перечень задолженностей, не подлежащих списанию. В их число входят:
                    <ul>
                    <li>возмещение вреда здоровью и морального вреда;</li>
                    <li>алиментные платежи и долг по алиментам;</li>
                    <li>зарплата и выплаты по ТК (это актуально, когда оформляется банкротство ИП, у которого есть долг перед работниками);</li>
                    <li>штрафы за преступления, совершённые намеренно или по грубой неосторожности;</li>
                    <li>текущие долги (появившиеся при проведении банкротства — например, по ЖКХ за период процедуры).</li>
                </ul>
                </div>
            </div>
            </div>
            </div><!--/.card-->
        </section>

        <section class="section__bankruptcy">
            <div class="container__section">
                <div class="section__header">
                    <h2 class="section__title">Порядок подачи заявления</h2>
                </div>
                <div class="card__group">
                    <div>
                        Заявление о признании гражданина банкротом во внесудебном порядке подается им в МФЦ по месту жительства или месту пребывания <a href="https://www.consultant.ru/document/cons_doc_LAW_39331/c48290d39215783e73f0899bb1026b14cb221eff/?ysclid=lumfza8c7i838151652" target="_blank">(ст. 223.2 ФЗ «О банкротстве»)</a>.
                        <br>Форму заявления можно скачать по <a href="/sample_declaration_out_of_court" target="_blank">ссылке</a>.
                        <br>Список многофункциональных центров с указанием адресов можно посмотреть по <a href="http://xn--l1aqg.xn--p1ai/mfc/index/regions?ysclid=lu9uzvle2n445664598" target="_blank">ссылке</a>.
                    </div>
                </div>
                <div class="card__group">
                    <div>
                        <b>К заявлению гражданин обязан приложить:</b>
                        <ul>
                        <li>список всех известных ему кредиторов, оформленный в соответствии с заданной <a href="/creditors" target="_blank">формой</a>;</li>
                        <li>копию документа, удостоверяющего личность гражданина;</li>
                        <li><a href="/refs_out_of_court" target="_blank">справки</a>, подтверждающие наличие оснований для обращения в МФЦ с заявлением (важно помнить, что предоставленные справки должны иметь срок не более чем 3 месяца до момента обращения гражданина с заявлением). Стоит заметить, что с 1 января 2024 года при наличии технической возможности МФЦ могут запросить данные справки самостоятельно у соответствующих органов.</li>

                    </ul>
                    <b>Важно!</b> Заявление рассматривается бесплатно.
                    <p>Больше о порядке заполнения и подачи заявления о признании гражданина банкротом во внесудебном порядке Вы можете узнать по <a href="https://www.consultant.ru/document/cons_doc_LAW_359670/54f37f9de6b21839643aef111c0f0646237e2790/">ссылке</a>.</p>
                </div>
                </div>
            </div><!--/.card-->
        </section>

        <section class="section__bankruptcy">
            <div class="container__section">
                <div class="section__header">
                    <h2 class="section__title">Внесение сведений о банкротстве в Единый федеральный реестр</h2>
                </div>
                <div class="card__group">
                    <div>
                        <p>Далее, на основании полученных данных МФЦ <b>в течение трех рабочих дней</b> (в некоторых случаях – в течение одного рабочего дня, следующего за днем обращения) включает в ЕФРСБ проект сообщения о возбуждении процедуры внесудебного банкротства в отношении гражданина.</p>
                        <p>При отсутствии оснований для возврата заявления <b>в течение одного рабочего дня</b> в Едином федеральном реестре размещается информация о начале реализации процедуры внесудебного банкротства гражданина <a href="https://www.consultant.ru/document/cons_doc_LAW_39331/c48290d39215783e73f0899bb1026b14cb221eff/?ysclid=lumfza8c7i838151652" target="_blank">(ст. 223.2 ФЗ «О банкротстве»)</a>.</p>
                    </div>
                </div>
            </div><!--/.card-->
        </section>

        <section class="section__bankruptcy">
            <div class="container__section">
        
                <div class="section__header">
                    <h2 class="section__title">Завершение внесудебной процедуры банкротства</h2>
                </div>
                <div class="card__group">
                    <div>
                        По истечении <b>шести месяцев</b> с момента включения таких сведений в реестр процедура внесудебного банкротства гражданина завершается, и гражданин освобождается от дальнейшего исполнения требований кредиторов, указанных им в заявлении о признании его банкротом.
                    </div>
                </div>    
            </div><!--/.card-->
        </section>

        <section class="section__bankruptcy">
            <div class="container__section">
        
                <div class="section__header">
                    <h2 class="section__title">Повторная подача заявления</h2>
                </div>
                <div class="card__group">
                    <div>
                        Гражданин вправе повторно подать заявление о признании его банкротом во внесудебном порядке <b>не ранее, чем по истечении пяти лет</b> после дня прекращения процедуры внесудебного банкротства <a href="https://www.consultant.ru/document/cons_doc_LAW_39331/15bac90772e695baab0ffa86106dfd11c02e7802/?ysclid=lumg9hoc7853601121" target="_blank">(ст. 213.30 ФЗ «О банкротстве»)</a>.
                    </div>
                </div>
            </div><!--/.card-->
        </section>

        <footer class="small__section" id="contacts">
            <div class="container">
                <div class="small__inner">
                    <div class="small__text">     
                        <a class="logo_link" href="#" data-scroll="#main"><h2>Банкрот-эксперт</h2></a>
                    </div>
                </div>
                <div class="small__text__form">Вся информация на сайте носит справочный характер и актуальна на 16.04.2024</div>
            </div>
        </footer> <!--MAKED-->


    </body>
</html>