<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Банкрот-эксперт</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/sign_in_up.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="logo">
                  <a class="logo_link" href="../" data-scroll="#main">Банкрот-эксперт</a>
                </div>
                  <nav class="nav">
                          <a class="link" href="/need">Нужно ли банкротиться?</a>
                          <a class="link" href="/judicial_bankruptcy">Судебное банкротство</a>
                          <a class="link" href="/out-of-court_bankruptcy">Внесудебное банкротство</a>
                  </nav>
                <div>
                  {% if 'loggedin' in session %}
                      <a class="link_auto" href="/profile">Профиль</a>
                      <form action="/logout" method="post">
                          <input class="link_auto" type="submit" value="Выйти">
                      </form>
                      {% else %}
                      <a class="link_auto" href="/sign-in">Войти</a>
                  {% endif %}
                </div>
            </div>
        </div>
    </header>
    <main>
    <div class="login">
        <h1>Авторизация</h1>
        <form action="" method="post">
            <label for="username">Логин</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password" required>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Войти">
        </form>
        <div class="links">
            <a href="{{ url_for('sign_up') }}">Зарегистироваться</a>
        </div>
    </div>
</main>
</body>
</html>
